<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration
    PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">


<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
		<mapping class="com.jcertif.bo.article.Article" />
		<mapping class="com.jcertif.bo.Sujet" />
		<mapping class="com.jcertif.bo.MotCle" />
		<mapping class="com.jcertif.bo.StatutApprobation" />
		<mapping class="com.jcertif.bo.Presentation" />
		<mapping class="com.jcertif.bo.CentreConference" />
		<mapping class="com.jcertif.bo.Appreciation" />
		<mapping class="com.jcertif.bo.StatutCedule" />
		<mapping class="com.jcertif.bo.Salle" />
		<mapping class="com.jcertif.bo.CeduleSalle" />
		<mapping class="com.jcertif.bo.Conference" />
		<mapping class="com.jcertif.bo.Organisateur" />
		<mapping class="com.jcertif.bo.ParticulariteSalle"/>
		<mapping class="com.jcertif.bo.RoleParticipant"/>
		<mapping class="com.jcertif.bo.Participant"/>
		<mapping class="com.jcertif.bo.CeduleParticipant"/>
		<mapping class="com.jcertif.bo.ComiteOrganisation"/>
	</session-factory>
</hibernate-configuration>
