<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration
    PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">


<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<mapping class="com.jcertif.bo.article.Article" />
		<mapping class="com.jcertif.bo.Adresse" />
		<mapping class="com.jcertif.bo.presentation.Sujet" />
		<mapping class="com.jcertif.bo.presentation.MotCle" />
		<mapping class="com.jcertif.bo.presentation.StatutApprobation" />
		<mapping class="com.jcertif.bo.presentation.PropositionPresentation" />
		<mapping class="com.jcertif.bo.conference.CentreConference" />
		<mapping class="com.jcertif.bo.presentation.Appreciation" />
		<mapping class="com.jcertif.bo.cedule.StatutCedule" />
		<mapping class="com.jcertif.bo.salle.Salle" />
		<mapping class="com.jcertif.bo.cedule.CeduleSalle" />
		<mapping class="com.jcertif.bo.conference.Conference" />
		<mapping class="com.jcertif.bo.conference.Organisateur" />
		<mapping class="com.jcertif.bo.salle.ParticulariteSalle"/>
		<mapping class="com.jcertif.bo.participant.RoleParticipant"/>
		<mapping class="com.jcertif.bo.participant.Participant"/>
		<mapping class="com.jcertif.bo.cedule.CeduleParticipant"/>
		<mapping class="com.jcertif.bo.comite.ComiteOrganisation"/>
		<mapping class="com.jcertif.bo.comite.ComiteRevisionPresentation"/>
		<mapping class="com.jcertif.bo.presentation.Auteur"/>
		<mapping class="com.jcertif.bo.comite.RappelEnvoye"/>	
		<mapping class="com.jcertif.bo.conference.OrganisateurCentreConf"/>
		<mapping class="com.jcertif.bo.cedule.TypeEvenement"/>	
		<mapping class="com.jcertif.bo.participant.TypeParticipant"/>
		<mapping class="com.jcertif.bo.cedule.Evenement" />
        <mapping class="com.jcertif.bo.participant.ProfilUtilisateur" />	
	</session-factory>
</hibernate-configuration>
