/*---- CALENDAR ----*/
div.Hall div.v-calendar-event-content {
	background-image: url('../images/salles/Hall.png');
	background-repeat: no-repeat;
	background-position: right bottom;
	border: 1px solid;
}

div.De-Brazza div.v-calendar-event-content {
	background-image: url('../images/salles/De-Brazza.png');
	background-repeat: no-repeat;
	background-position: right bottom;
	border: 1px solid;
}

div.Gide div.v-calendar-event-content {
	background-image: url('../images/salles/Gide.png');
	background-repeat: no-repeat;
	background-position: right bottom;
	border: 1px solid;
}

div.participate {
	background-image: url('../images/salles/participate.png');
	background-repeat: no-repeat;
	background-position: left bottom;
	
}


.event_details_panel {
	background: none;
	border: none;
}

.v-panel-nocaption-event_details_panel {
	background: none;
}

.v-panel-deco-event_details_panel {
	background: none;
}

.v-panel-content-event_details_panel {
	border: none;
}

.v-panel-deco::before {
	display: block;
	content: "";
	width: 9px;
	height: 9px;
	margin-left: -9px;
	background: none;
}

.jcertif_calendar {
	background-color: #D8D8D8;
}

#vaadin_div {
	border: 2px solid;
}

.calendar_central {
	background-color: #D8D8D8;
}
.v-calendar-calendar_central {
	background-color: #D8D8D8;
}

.event_details {
	padding-left: 5px;
	border: none;

}

.event_details_ou {
	font-weight: bold;
	font-size: 12px;
	color: #ff8c00;
}

.event_details_quand {
	
}

.event_details_categorie {
	
}

.event_details_motcle {
	
}

.event_details_titre {
	font-weight: bold;
	font-size: medium;
	padding-top: 18px;
	padding-bottom: 5px;
}

.event_details_participer {
	padding-top: 5px;
	padding-bottom: 10px;
}

.v-caption-photo_speaker {
	height: 0px;	
}

.event_details_presentateur {
	font-weight: bold;
	font-size: 12px;
	color: #ff8c00;
	padding-bottom: 10px;
}

.event_details_photo {
	float: right;
}

.event_details_details {
	
}