<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>JCertif 2011 Application</display-name>
	<context-param>
		<description>Vaadin production mode</description>
		<param-name>productionMode</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.DEFAULT_SUFFIX</param-name>
		<param-value>.jsp</param-value>
	</context-param>
	<context-param>
		<param-name>com.sun.faces.expressionFactory</param-name>
		<param-value>com.sun.el.ExpressionFactoryImpl</param-value>
	</context-param>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>/faces/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>JCertifMain</servlet-name>
		<servlet-class>com.vaadin.terminal.gwt.server.ApplicationServlet</servlet-class>
		<init-param>
			<description>Vaadin application class to start</description>
			<param-name>application</param-name>
			<param-value>com.jcertif.presentation.principal.JCertifVaadinApplication</param-value>
		</init-param>
		<init-param>
			<description>Application widgetset</description>
			<param-name>widgetset</param-name>
			<param-value>com.jcertif.presentation.gwt.MyWidgetSet</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>JCertifCalendar</servlet-name>
		<servlet-class>com.vaadin.terminal.gwt.server.ApplicationServlet</servlet-class>
		<init-param>
			<description>Vaadin application class to start</description>
			<param-name>application</param-name>
			<param-value>com.jcertif.presentation.ui.calendar.CalendarApplication</param-value>
		</init-param>
		<init-param>
			<description>Application widgetset</description>
			<param-name>widgetset</param-name>
			<param-value>com.jcertif.presentation.gwt.MyWidgetSet</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>JCertifInscription</servlet-name>
		<servlet-class>com.vaadin.terminal.gwt.server.ApplicationServlet</servlet-class>
		<init-param>
			<description>Vaadin application class to start</description>
			<param-name>application</param-name>
			<param-value>com.jcertif.presentation.ui.inscription.InscriptionApplication</param-value>
		</init-param>
		<init-param>
			<description>Application widgetset</description>
			<param-name>widgetset</param-name>
			<param-value>com.jcertif.presentation.gwt.MyWidgetSet</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>JCertifProposition</servlet-name>
		<servlet-class>com.vaadin.terminal.gwt.server.ApplicationServlet</servlet-class>
		<init-param>
			<description>Vaadin application class to start</description>
			<param-name>application</param-name>
			<param-value>com.jcertif.presentation.ui.proposition.PropositionPresentationApplication</param-value>
		</init-param>
		<init-param>
			<description>Application widgetset</description>
			<param-name>widgetset</param-name>
			<param-value>com.jcertif.presentation.gwt.MyWidgetSet</param-value>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>JCertifPresentateur</servlet-name>
		<servlet-class>com.vaadin.terminal.gwt.server.ApplicationServlet</servlet-class>
		<init-param>
			<description>Vaadin application class to start</description>
			<param-name>application</param-name>
			<param-value>com.jcertif.presentation.ui.presentateur.PresentateurApplication</param-value>
		</init-param>
		<init-param>
			<description>Application widgetset</description>
			<param-name>widgetset</param-name>
			<param-value>com.jcertif.presentation.gwt.MyWidgetSet</param-value>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>JCertifPartenaire</servlet-name>
		<servlet-class>com.vaadin.terminal.gwt.server.ApplicationServlet</servlet-class>
		<init-param>
			<description>Vaadin application class to start</description>
			<param-name>application</param-name>
			<param-value>com.jcertif.presentation.ui.partenaire.PartenaireApplication</param-value>
		</init-param>
		<init-param>
			<description>Application widgetset</description>
			<param-name>widgetset</param-name>
			<param-value>com.jcertif.presentation.gwt.MyWidgetSet</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>JCertifOrganisateur</servlet-name>
		<servlet-class>com.vaadin.terminal.gwt.server.ApplicationServlet</servlet-class>
		<init-param>
			<description>Vaadin application class to start</description>
			<param-name>application</param-name>
			<param-value>com.jcertif.presentation.ui.organisateur.OrganisateurApplication</param-value>
		</init-param>
		<init-param>
			<description>Application widgetset</description>
			<param-name>widgetset</param-name>
			<param-value>com.jcertif.presentation.gwt.MyWidgetSet</param-value>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>JCertifFaq</servlet-name>
		<servlet-class>com.vaadin.terminal.gwt.server.ApplicationServlet</servlet-class>
		<init-param>
			<description>Vaadin application class to start</description>
			<param-name>application</param-name>
			<param-value>com.jcertif.presentation.ui.faq.FaqApplication</param-value>
		</init-param>
		<init-param>
			<description>Application widgetset</description>
			<param-name>widgetset</param-name>
			<param-value>com.jcertif.presentation.gwt.MyWidgetSet</param-value>
		</init-param>
	</servlet>


	<servlet>
		<servlet-name>JCertifLogin</servlet-name>
		<servlet-class>com.vaadin.terminal.gwt.server.ApplicationServlet</servlet-class>
		<init-param>
			<description>Vaadin application class to start</description>
			<param-name>application</param-name>
			<param-value>com.jcertif.presentation.ui.login.LoginApplication</param-value>
		</init-param>
		<init-param>
			<description>Application widgetset</description>
			<param-name>widgetset</param-name>
			<param-value>com.jcertif.presentation.gwt.MyWidgetSet</param-value>
		</init-param>
	</servlet>
	
	<servlet>
		<servlet-name>JCertifLogout</servlet-name>
		<servlet-class>com.vaadin.terminal.gwt.server.ApplicationServlet</servlet-class>
		<init-param>
			<description>Vaadin application class to start</description>
			<param-name>application</param-name>
			<param-value>com.jcertif.presentation.ui.logout.LogoutApplication</param-value>
		</init-param>
		<init-param>
			<description>Application widgetset</description>
			<param-name>widgetset</param-name>
			<param-value>com.jcertif.presentation.gwt.MyWidgetSet</param-value>
		</init-param>
	</servlet>
	
	<servlet>
		<servlet-name>JCertifInfosUtiles</servlet-name>
		<servlet-class>com.vaadin.terminal.gwt.server.ApplicationServlet</servlet-class>
		<init-param>
			<description>Vaadin application class to start</description>
			<param-name>application</param-name>
			<param-value>com.jcertif.presentation.ui.infosutiles.InfosUtilesApplication</param-value>
		</init-param>
		<init-param>
			<description>Application widgetset</description>
			<param-name>widgetset</param-name>
			<param-value>com.jcertif.presentation.gwt.MyWidgetSet</param-value>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>JCertifApropos</servlet-name>
		<servlet-class>com.vaadin.terminal.gwt.server.ApplicationServlet</servlet-class>
		<init-param>
			<description>Vaadin application class to start</description>
			<param-name>application</param-name>
			<param-value>com.jcertif.presentation.ui.apropos.AproposApplication</param-value>
		</init-param>
		<init-param>
			<description>Application widgetset</description>
			<param-name>widgetset</param-name>
			<param-value>com.jcertif.presentation.gwt.MyWidgetSet</param-value>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>JCertifCommunity</servlet-name>
		<servlet-class>com.vaadin.terminal.gwt.server.ApplicationServlet</servlet-class>
		<init-param>
			<description>Vaadin application class to start</description>
			<param-name>application</param-name>
			<param-value>com.jcertif.presentation.ui.communityGroups.CommunityGroupsApplication</param-value>
		</init-param>
		<init-param>
			<description>Application widgetset</description>
			<param-name>widgetset</param-name>
			<param-value>com.jcertif.presentation.gwt.MyWidgetSet</param-value>
		</init-param>
	</servlet>	
	

	<servlet-mapping>
		<servlet-name>JCertifCalendar</servlet-name>
		<url-pattern>/vaadin/calendar/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JCertifInscription</servlet-name>
		<url-pattern>/vaadin/inscription/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>JCertifProposition</servlet-name>
		<url-pattern>/vaadin/propositionPresentation/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>JCertifPartenaire</servlet-name>
		<url-pattern>/vaadin/partenaire/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>JCertifFaq</servlet-name>
		<url-pattern>/vaadin/faq/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>JCertifPresentateur</servlet-name>
		<url-pattern>/vaadin/presentateur/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>JCertifOrganisateur</servlet-name>
		<url-pattern>/vaadin/organisateur/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>JCertifLogin</servlet-name>
		<url-pattern>/vaadin/login/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>JCertifLogout</servlet-name>
		<url-pattern>/vaadin/logout/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>JCertifInfosUtiles</servlet-name>
		<url-pattern>/vaadin/infosutiles/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>JCertifApropos</servlet-name>
		<url-pattern>/vaadin/apropos/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>JCertifCommunity</servlet-name>
		<url-pattern>/vaadin/community/*</url-pattern>
	</servlet-mapping>
	

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>pages/default.html</welcome-file>
		<welcome-file>pages/index.html</welcome-file>
		<welcome-file>pages/home.htm</welcome-file>
		<welcome-file>pages/home.xhtm</welcome-file>
		<welcome-file>pages/index.htm</welcome-file>
		<welcome-file>pages/default.jsp</welcome-file>
		<welcome-file>pages/default.xhtm</welcome-file>
		<welcome-file>pages/home.xhtml</welcome-file>
		<welcome-file>pages/home.jsp</welcome-file>
		<welcome-file>pages/default.htm</welcome-file>
		<welcome-file>pages/default.xhtml</welcome-file>
		<welcome-file>pages/index.xhtm</welcome-file>
		<welcome-file>pages/home.html</welcome-file>
		<welcome-file>pages/index.jsp</welcome-file>
		<welcome-file>pages/index.xhtml</welcome-file>
	</welcome-file-list>
</web-app>
