<div class="event_details">
	<div class="event_details_ou" class="" location="ou"> </div>
	<div class="event_details_quand" class="" location="quand"> </div>
	<div class="event_details_categorie" location="categorie"> </div>
	<div class="event_details_motcle" location="motcle"> </div>
	<div class="event_details_titre" location="titre"> </div>
	<div class="event_details_participer" location="participer"> </div>
	<div class="event_details_photo" location="photo"> </div>
	<div class="event_details_presentateur" location="presentateur"> </div>
	<div class="event_details_details" location="details"> </div>
</div>

