<table width="100%" height="100%" style="border:none;">

	<tr>
		<td align="left" style="font-weight: bold;">Ou :</td>
		<td colspan="4"><div location="ou"></div>
		</td>
	</tr>
	<tr>
		<td align="left" style="font-weight: bold;">Quand :</td>
		<td colspan="4"><div location="quand"></div>
		</td>
	</tr>
	<tr>
		<td align="left" style="font-weight: bold;">Categorie :</td>
		<td><div location="categorie"></div>
		</td>
	</tr>
	<tr>
		<td><br />
		</td>
		<td><br />
		</td>
	</tr>
	<tr>
		<td align="left" colspan="5" style="font-weight: bold; font-size: large;"><div
				location="titre"></div>
		</td>
	</tr>
	<tr>
		<td align="left" colspan="5"><div location="participer"></div>
		</td>
	</tr>
	<tr>
		<td><br />
		</td>
	</tr>
	<tr>
		<td align="left" colspan="5" style="font-weight: bold; font-size:medium;"><div location="presentateur"></div>
		</td>
	</tr>
	<tr>
		<td align="left" colspan="5"><div location="details"></div>
		</td>
	</tr>
	<tr>
		<td><br />
		</td>
	</tr>
	<tr>
		<td align="left" style="font-weight: bold;">Mot Cle :</td>
		<td><div location="motcle"></div>
		</td>
	</tr>
</table>