<table width="100%" height="100%" style="border: none;">

	<tr>
		<td colspan="4"><div location="ou"></div></td>
	</tr>
	<tr>
		<td colspan="4"><div location="quand"></div></td>
	</tr>
	<tr>
		<td><div location="categorie"></div></td>
	</tr>
	<tr>
		<td><div location="motcle"></div>
		</td></tr>
	<tr>
		<td align="left" colspan="5"
			style="font-weight: bold; font-size: large;"><div
				location="titre"></div></td>
	</tr>
	<tr>
		<td><div location="participer"></div></td>
	</tr>
	<tr>
		<td><br /></td>
	</tr>
	<tr>
		<td align="left" colspan="5"
			style="font-weight: bold; font-size: medium;"><div
				location="presentateur"></div></td>
	</tr>
	<tr>
		<td align="left" colspan="5"><div location="details"></div></td>
	</tr>
	<tr>
		<td><br /></td>
	</tr>

</table>